

.form-container {
    top: 253px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
 
.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
 
 
.form-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
 
 
.form-input {
    width: 468px;
    padding: 10px;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
    border-radius: 5px;
}
.form-input error {
    border: 1px solid #ff0000;
   
}
 
 
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
 
 
.submit-button {
    width: 468px;
    height: 48px;
    padding: 10px 20px;
    margin-top: 24px;
    background-color: #512689;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.submit-button:hover {
    background-color: #082647;
}
.labelform{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.password__btn{
    position: absolute;
    padding-right: 15px;
}
.password__btn_two{
        position: absolute;  
        padding-right: 15px;
}
svg{
    width: 24px;
    height: 24px;
}

@media (max-width: 600px){
    .form-container{
        margin-top: 64px;
        width: 375px;
    }
    .submit-button{
        width: 343px;
    }
.form-input{
    width: 343px;
}
}
@media (max-width: 375px){
    .form-container{
        margin-top: 64px;
        width: 300px;
    }
    .submit-button{
        width: 290px;
    }
.form-input{
    width: 290px;
}
}